body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: relative;
  background-color: #152237;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

form {
    background-color: #152237;
    border: white 1px solid;
    border-radius: 6px;
    padding: 10px;
    color: white;
}

form input {
    background-color: #152237;
    border: none;
    color: white;
    outline: none;
}

form input::placeholder {
    color: white;
}

.search-icon {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-white-nav {
    background-color: white;
    color: #152237;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-green-to-blue {
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-white-hero {
    background-color: white;
    color: #152237;
    border: none;
    border-radius: 6px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -1.5%;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn-blue {
    background-color: #152237;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
}

.btn-white-cards {
    background-color: white;
    color: #152237;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
}

.hero {
  background: linear-gradient(94.01deg, rgba(68,221,138,0.8) 3.11%, rgba(21,183,226,0.8) 98.45%),
              url("../images/image-hero.png") center/cover no-repeat;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 451px;
max-height: calc(100vh - 80px);
text-align: center;
box-sizing: border-box;

width: 100%;
max-width: none; 
margin: 0;      
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5%;
    text-align: center;
    text-transform: uppercase;
    color: #152237;
}

.cards-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 72px;
    letter-spacing: -1.5%;
    text-align: left;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.5%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
}

.card-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
}
.sections {
    padding: 0 80px;
}

.section-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 72px;
    letter-spacing: -1.5%;
    text-align: left;
}

.cards-inner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(307px, 1fr));
    justify-items: start;
    align-items: start;
    width: 100%;

}

.card {
  background-color: none;
  width: 305px; 
  height: 362px;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2;
}

.card-sub {
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.card-image {
  width: 100%;
  max-width: 305px; 
  padding-top: 67.2%;
  background-color: #44DD8A;
  background-size: cover;
  background-position: center;
  display: block;
  box-sizing: border-box;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    background-color: #152237;
    padding: 5px 14px;
    border-radius: 93px;
    color: white;
    margin-top: -15px;
    margin-right : 14px;
    letter-spacing: -1.5%;
    box-shadow: 5px 4px 13.2px -1px #00000040;
    gap : 5px;
}

.price-current {
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.price-original {
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration-line: line-through;
}

.fa-star {
    color: #FFD700;
}

.fa-star.starr {
  color: rgba(255, 215, 0, 0.6); 
}

.cards-section {
    min-height: 632px;
}

.card-bottom {
    padding: 0px 0px 0px 5px;
}

.cards-dark {
    background-color: #152237;
    color: white;
}